Assets/ThirdParty/POLYART_Ancient[[:space:]]Village/Models/Extra/Bridge/PA_Bridge.fbx filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
